/* Header ----------------------- */

@import "transform";
$primaryColor: #ff7800;
$secondColor: #575757;
.header {
    width: 21%;
    max-width: 400px;
    min-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background: #eeeeee;
    z-index: 99;
}

.headContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#logo {
    max-width: 191px;
    margin-bottom: 15%;
}

.man,
.navTabs,
.aboutUs {
    width: 80%;
    margin: 0 auto;
}

.man {
    >div {
        display: inline-block;
        vertical-align: top;
    }
}

.manPhoto {
    width: 32%;
    padding-bottom: 32%;
    border-radius: 50%;
    background: url(../images/man.jpg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
}

.manInfo {
    width: 56%;
    margin-top: 5px;
    font-size: 0.95em;
    line-height: 1.4em;
    .title {
        color: $secondColor;
        margin-bottom: 10px;
    }
    .location {
        color: #999999;
        position: relative;
        padding-left: 20px;
        &:before {
            content: '';
            width: 10px;
            height: 15px;
            background: url(../images/location.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translate(0, -50%));
        }
    }
}

//menu
.navTabs {
    margin-top: 30%;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15%;
    margin-bottom: 15%;
}

#menu {
    li {
        margin-bottom: 10%;
        a {
            letter-spacing: 2px;
            color: $secondColor;
            padding-left: 35px;
            position: relative;
            @include transition(all 0.3s);
            span.tabTxtEng {
                padding-left: 15px;
            }
            span.tabIcon {
                width: 20px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 0;
                @include transform(translate(0, -50%));
                #projectIcon,
                #experienceIcon {
                    fill: $secondColor;
                    @include transition(all 0.3s);
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.ui-tabs-active a {
            color: $primaryColor;
            span.tabIcon {
                #projectIcon,
                #experienceIcon {
                    fill: $primaryColor;
                }
            }
        }
    }
}

.aboutUs {
    P {
        font-size: 1em;
        line-height: 1.66em;
        color: $secondColor;
    }
}

//footer
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footerIcon {
    text-align: center;
    li {
        width: 30px;
        display: inline-block;
        vertical-align: top;
        margin: 0 2%;
        margin-bottom: 20px;
    }
}

.copyRight {
    width: 100%;
    text-align: center;
    >p {
        display: inline-block;
        font-size: 0.75em;
        line-height: 1.44em;
        position: relative;
        padding-left: 15px;
        color: $secondColor;
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            background: url(../images/copy.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translate(0, -50%));
        }
    }
}