/* Header ----------------------- */

@import "transform";
$primaryColor: #ff7800;
$secondColor: #575757;
.header {
    width: 21%;
    max-width: 400px;
    min-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background: #eeeeee;
    z-index: 99;
}

.headContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#logo {
    max-width: 191px;
    margin-left: 10%;
    margin-bottom: 15%;
}

.man,
.navTabs,
.aboutUs {
    width: 80%;
    margin: 0 auto;
}

.man {
    >div {
        display: inline-block;
        vertical-align: top;
    }
}

.manPhoto {
    width: 32%;
    padding-bottom: 32%;
    border-radius: 50%;
    background: url(../images/man.jpg) center no-repeat;
    background-size: cover;
    margin-right: 5%;
}

.manInfo {
    width: 56%;
    margin-top: 5px;
    font-size: 0.95em;
    line-height: 1.4em;
    .title {
        color: $secondColor;
        margin-bottom: 10px;
    }
    .location {
        color: #999999;
        position: relative;
        padding-left: 20px;
        &:before {
            content: '';
            width: 10px;
            height: 15px;
            background: url(../images/location.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translate(0, -50%));
        }
    }
}

//menu
.navTabs {
    margin-top: 20%;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10%;
    margin-bottom: 10%;
}

#menu {
    li {
        @include transition(all 0.6s);
        margin-bottom: 10%;
        a {
            letter-spacing: 2px;
            color: $secondColor;
            padding-left: 35px;
            position: relative;
            @include transition(all 0.3s);
            span.tabTxtEng {
                padding-left: 15px;
            }
            span.tabIcon {
                width: 20px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 0;
                @include transform(translate(0, -50%));
                #projectIcon,
                #experienceIcon {
                    fill: $secondColor;
                    @include transition(all 0.3s);
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.ui-tabs-active a {
            color: $primaryColor;
            span.tabIcon {
                #projectIcon,
                #experienceIcon {
                    fill: $primaryColor;
                }
            }
        }
    }
}

.aboutUs {
    P {
        font-size: 1em;
        line-height: 1.44em;
        color: $secondColor;
    }
}

//footer
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footerIcon {
    text-align: center;
    li {
        width: 30px;
        display: inline-block;
        vertical-align: top;
        margin: 0 2%;
        margin-bottom: 5%;
    }
}

.copyRight {
    width: 100%;
    text-align: center;
    >p {
        display: inline-block;
        font-size: 0.75em;
        line-height: 1.2em;
        position: relative;
        padding-left: 15px;
        color: $secondColor;
        text-align: left;
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            background: url(../images/copy.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            top: 2px;
            left: 0;
        }
    }
}

.buttonContainer {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 18px;
    width: 30px;
    cursor: pointer;
    z-index: 1001;
    @include transform(translate(0, -50%));
    @include transition(opacity .25s ease);
}

.buttonContainer span {
    background: $primaryColor;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    @include transform(translateX(-50%));
    @include transition(all .35s ease);
    cursor: pointer;
}

.buttonContainer span:nth-child(2) {
    top: 50%;
}

.buttonContainer span:nth-child(3) {
    top: 100%;
}

@media (min-width: 1025px) {
    .buttonContainer {
        display: none;
    }
}

.buttonContainer.active .top {
    @include transform(translateY(8px) translateX(-50%) rotate(45deg));
    background: $primaryColor;
}

.buttonContainer.active .middle {
    opacity: 0;
    background: $primaryColor;
}

.buttonContainer.active .bottom {
    @include transform(translateY(-10px) translateX(-50%) rotate(-45deg));
    background: $primaryColor;
}

@media screen and (max-width: 1599px) {
    #logo {
        width: 80%;
        margin-left: 0;
    }
    .man,
    .navTabs,
    .aboutUs {
        width: 100%;
    }
    .aboutUs P {
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        height: auto;
        max-width: 100%;
        padding: 10px;
    }
    .man,
    .aboutUs,
    .footer {
        display: none;
    }
    #logo {
        margin: 0;
    }
    .navTabs {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 98;
        width: 100%;
        height: 100%;
        text-align: center;
        @include transition(all .5s);
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1.15em;
    }
    #overlay {
        position: fixed;
        background: rgba(255, 255, 255, 0.98);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 0%;
        opacity: 0;
        opacity: 1\9\0;
        visibility: hidden;
        @include transition(all 0.3s);
        overflow: hidden;
        z-index: 1000;
        &.open {
            opacity: 0.95;
            visibility: visible;
            height: 100%;
            li {
                -webkit-animation: fadeInRight 0.5s ease forwards;
                animation: fadeInRight 0.5s ease forwards;
                -webkit-animation-delay: 0.35s;
                animation-delay: 0.35s;
                &:nth-child(2) {
                    -webkit-animation-delay: 0.4s;
                    animation-delay: 0.4s;
                }
                &:nth-child(3) {
                    -webkit-animation-delay: 0.45s;
                    animation-delay: 0.45s;
                }
                &:nth-child(4) {
                    -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
                }
            }
        }
        ul {
            width: 100%;
            position: relative;
            top: 50%;
            @include transform(translate(0, -50%));
        }
        li {
            opacity: 0;
            opacity: 1\9\0;
            position: relative;
            margin: 2em 0;
        }
    }
}

@media screen and (max-width: 767px) {
    #logo {
        width: 30%;
    }
    .buttonContainer {
        right: 4px;
        height: 14px;
        width: 25px;
    }
    .buttonContainer.active .top {
        @include transform(translateY(6px) translateX(-50%) rotate(45deg));
    }
    .buttonContainer.active .bottom {
        @include transform(translateY(-9px) translateX(-50%) rotate(-45deg));
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}