<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/index.css">
<!-- @@close -->

<!-- @@block = content -->
<div class="wrapper">

    <!-- @@include ../layouts/_header.html -->

    <div class="Container">

        <div id="tabProject">
            <h1>PROJECT</h1>

            <div class="selectNav nav mixmenu">
                <div class="filter-all"><span data-filter="all">ALL</span></div>
                <div class="clients">
                    <div class="navSelected">Filter</div>
                    <div class="navContent">
                        <ul>
                            <li class="filter" data-filter=".events">活動網站</li>
                            <li class="filter" data-filter=".banner">數位宣傳</li>
                            <li class="filter" data-filter=".video">動態影片</li>
                            <li class="filter" data-filter=".graphic">平面設計</li>
                        </ul>
                    </div>
                </div>

            </div>



            <div class="mixerContainer">
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
                <div class="projectList mix events" data-published-date="2017-10">
                    <a href="javascript:;" target="_blank">
                        <div class="PLPhoto">
                            <img src="assets/images/project/mb-009.jpg" alt="" />
                        </div>
                        <div class="PLText">
                            <h2>Daehyon Offical Site</h2>
                            <p>Daehyon / <span class="sort"></span><span class="PLTime">201803</span></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div id="tabs-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.
                Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam
                erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>

    </div>

</div>

<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index_page1 js -->

<script src="assets/js/mixitup.min.js"></script>
<script src="assets/js/main.js"></script>
<!-- @@close -->