@import "base/transform";
$primaryColor: #ff7800;
$secondColor: #575757;
.Container {
    width: 79%;
    margin-left: 21%;
    padding: 30px 50px;
}

.scrollbar-dynamic>.scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic>.scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    width: 15px;
}

h1 {
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 3.5%;
}

.mixMenu {
    width: 100%;
    display: block;
    margin-bottom: 3.5%;
    font-size: 1em;
    line-height: 1.66em;
    letter-spacing: 1.5px;
    .mixItemS {
        display: inline-block;
        margin-right: 25px;
        color: $secondColor;
        position: relative;
        cursor: pointer;
        vertical-align: top;
        &:before {
            content: '';
            width: 0%;
            height: 1px;
            background: $secondColor;
            position: absolute;
            right: 50%;
            left: 50%;
            bottom: 2px;
            opacity: 0;
            @include transition(all 0.3s);
        }
        @media screen and (min-width: 1024px) {
            &:hover:before {
                width: 100%;
                opacity: 1;
                right: 0;
                left: 0;
            }
        }
        &.mixMenuActive {
            color: $primaryColor;
            &:before {
                width: 100%;
                opacity: 1;
                right: 0;
                left: 0;
                background: $primaryColor;
            }
        }
        .mixItemSelected {
            position: relative;
            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                right: -12px;
                border-style: solid;
                border-width: 6px 4px 0 4px;
                border-color: #ff7800 transparent transparent transparent;
                @include transform(translate(0, -50%));
                // @include transition(all 0.3s);
            }
        }
    }
    .mixFilter {
        .mixItemOption.visible {
            opacity: 1;
            z-index: 2;
        }
    }
    .mixItemOption {
        // display: none;
        width: 300px;
        display: block;
        position: absolute;
        top: 26px;
        left: 0;
        z-index: 0;
        background: #f0f0f0;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        padding: 25px 15px;
        opacity: 0;
        @include transition(all 0.3s);
        .filter>span {
            width: 80px;
            display: inline-block;
            margin-right: 20px;
        }
        ul {
            font-size: 1em;
            line-height: 3em;
            letter-spacing: 1px;
            position: relative;
            color: $secondColor;
            .marked {
                width: 4px;
                height: 0;
                background: $primaryColor;
                position: absolute;
                top: 0;
                left: -15px;
                @include transition( all 0.3s);
            }
            >li:hover~.marked {
                height: 1.5em;
                margin-top: -0.25em;
            }
            >li:nth-child(1):hover~.marked {
                @include transform(translate(0, 1em));
            }
            >li:nth-child(2):hover~.marked {
                @include transform(translate(0, 4em));
            }
            >li:nth-child(3):hover~.marked {
                @include transform(translate(0, 7em));
            }
            >li:nth-child(4):hover~.marked {
                @include transform(translate(0, 10em));
            }
            >li:nth-child(5):hover~.marked {
                @include transform(translate(0, 13em));
            }
        }
    }
}

.mixerContainer {
    width: 100%;
    max-width: 1270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.projectList {
    background: #eeeeee;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    .PLPhoto {
        width: 100%;
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: #000000;
            opacity: 0.1;
            @include transition(all 0.3s);
        }
        >img {
            @include transform(scale(1));
            @include transition(all 0.3s);
        }
    }
    .PLText {
        padding: 6% 4%;
        background: #eeeeee;
        @include transition(all 0.3s);
        h2 {
            font-size: 1.2em;
            color: $primaryColor;
            margin-bottom: 2em;
        }
        p,
        span {
            font-size: 0.75em;
            color: #6d6d6d;
        }
        .PLTime {
            float: right;
        }
    }
}

@media screen and (min-width: 1024px) {
    .projectList:hover {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
        .PLPhoto {
            &:after {
                opacity: 0;
            }
            >img {
                @include transform(scale(1.1));
            }
        }
        .PLText {
            background: #f6f6f6;
        }
    }
}

@media screen and (max-width: 1399px) {
    .mixerContainer {
        width: 100%;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .Container {
        width: 100%;
        margin: 0;
        padding: 90px 15px 15px 15px;
    }
    .hidden-desktop.footer {
        position: inherit;
        padding: 15px;
        background: #eeeeee;
    }
    .footerIcon li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    .mixerContainer {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .mixMenu .mixItemOption {
        width: 500%;
        left: -25%;
        .filter>span {
            width: auto;
            margin-right: 10px;
        }
    }
}