@import "base/reset";
@import "base/header";
@import "base/transform";
$primaryColor: #ff7800;
$secondColor: #575757;
body {
    font-family: Century Gothic, "微軟正黑體", "Arial", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $secondColor;
}

img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
}

:focus {
    outline: 0;
}

.visible-desktop {
    display: block;
}

.visible-tablet {
    display: none;
}

.visible-phone {
    display: none;
}

.hidden-desktop {
    display: none;
}

.hidden-tablet {
    display: block;
}

.hidden-phone {
    display: block;
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .visible-desktop {
        display: none;
    }
    .visible-tablet {
        display: block;
    }
    .visible-phone {
        display: none;
    }
    .hidden-desktop {
        display: block;
    }
    .hidden-tablet {
        display: none;
    }
    .hidden-phone {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .visible-desktop {
        display: none;
    }
    .visible-tablet {
        display: none;
    }
    .visible-phone {
        display: block;
    }
    .hidden-desktop {
        display: block;
    }
    .hidden-tablet {
        display: block;
    }
    .hidden-phone {
        display: none;
    }
}

// loading
#loading {
    position: fixed;
    background: #eeeeee;
    width: 100%;
    height: 100vh;
    z-index: 999;
    .loadingBox {
        width: 250px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        @include transform(translate(0, -50%));
        text-align: center;
    }
    #loadingcircle {
        width: 80px;
        margin-bottom: 30px;
        .lc {
            fill: none;
            stroke: #FF7800;
            stroke-width: 2;
            stroke-dashoffset: 600;
            stroke-dasharray: 600;
            -webkit-animation: circle-draw 3s linear infinite;
            -moz-animation: circle-draw 3s linear infinite;
            -o-animation: circle-draw 3s linear infinite;
            animation: circle-draw 3s linear infinite;
            @include transform(rotate(0deg));
        }
        .circle01 {
            @include transform-og(35%);
            @include transform(translate(30%, 0));
        }
        .circle02 {
            @include transform-og(65%);
            animation-delay: 0.3s;
            @include transform(translate(-30%, 0));
        }
    }
    .loadingBar {
        width: 100%;
        height: 4px;
        position: relative;
        border-radius: 3px;
        .loadingBarBG,
        .loadingBarRun {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 3px;
        }
        .loadingBarBG {
            width: 100%;
            background: #cccccc;
        }
        .loadingBarRun {
            width: 100%;
            background: #999999;
            -webkit-animation: loadingBar 2.5s linear;
            -moz-animation: loadingBar 2.5s linear;
            -o-animation: loadingBar 2.5s linear;
            animation: loadingBar 2.5s linear;
        }
    }
}

@keyframes circle-draw {
    70% {
        stroke-dashoffset: 0;
        @include transform(rotate(180deg));
        @include transform(translate(0, 0));
    }
    100% {
        @include transform(rotate(0deg));
    }
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    40% {
        width: 60%;
    }
    60% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}