@import "base/reset";
@import "base/header";
@import "base/transform";
body {
    font-family: Century Gothic, "微軟正黑體", "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

html,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
}

:focus {
    outline: 0;
}

.visible-desktop {
    display: block !important;
}

.visible-tablet {
    display: none !important;
}

.visible-phone {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.hidden-tablet {
    display: block !important;
}

.hidden-phone {
    display: block !important;
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .visible-desktop {
        display: none !important;
    }
    .visible-tablet {
        display: block !important;
    }
    .visible-phone {
        display: none !important;
    }
    .hidden-desktop {
        display: block !important;
    }
    .hidden-tablet {
        display: none !important;
    }
    .hidden-phone {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .visible-desktop {
        display: none !important;
    }
    .visible-tablet {
        display: none !important;
    }
    .visible-phone {
        display: block !important;
    }
    .hidden-desktop {
        display: block !important;
    }
    .hidden-tablet {
        display: block !important;
    }
    .hidden-phone {
        display: none !important;
    }
}