<!DOCTYPE html>
<html lang="en">

<head>
    <title>RYAN | Portfilio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="RYAN | Portfilio" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="assets/lib/css/jquery.scrollbar.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

    <!-- @@placeholder= head-css -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script>
        // plugins.js
        $(function() {
            if ((navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel") || navigator.userAgent.match("Firefox") || navigator.userAgent.match("IE")) {} else {
                var jstag = document.createElement('script');
                jstag.src = "assets/lib/js/jquery.scrollbar.js";
                var jsfirstScriptTag = document.getElementsByTagName('script')[2];
                jsfirstScriptTag.parentNode.insertBefore(jstag, jsfirstScriptTag);
            }
        });
    </script>
    <!-- <script src="assets/lib/js/jquery.scrollbar.js"></script> -->
</head>

<body>
    <div id="loading">
        <div class="loadingBox">
            <svg id="loadingcircle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 77.3 53.5" style="enable-background:new 0 0 77.3 53.5;" xml:space="preserve">
                <circle class="lc circle01" cx="27" cy="26.8" r="25"/>
                <circle class="lc circle02" cx="50" cy="26.8" r="25"/>
            </svg>
            <div class="loadingBar">
                <div class="loadingBarBG"></div>
                <div class="loadingBarRun"></div>
            </div>
        </div>
    </div>
    <!-- @@placeholder= content -->

    <!-- @@placeholder= head-js -->
</body>

</html>